<a href="https://colab.research.google.com/github/bolaoke/data_analytics_2/blob/main/Copy_of_Copy_of_Unit_3_Numpy_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [ ]:
import numpy as np

In [ ]:
#Dataset from summer Olympic London, year 2012
# 2 countries were added to the olympic list Nigeria(NGN 12) and South Africa 
import numpy as np 
country = np.array(['KOR','JPN','US','RUS','GBR','China','GER','NGN','South Africa']) 
country_Gold = np.array([29,38,24,46,13,7,11,12,50]) 
country_Silver = np.array([17,28,25,28,8,14,11])
country_Bronze = np.array([19,22,32,29,7,17,14]) 
highest = np.where(country_Gold == np.max(country_Gold)) 

print('Max number of gold medals',np.max(country_Gold)) 
print('index number of maximum element (gold medals) :',highest[0])

Max number of gold medals 50
index number of maximum element (gold medals) : [8]

## 2.	Find country with maximum gold

In [ ]:
import numpy as np
country = np.array(['KOR','JPN','US','RUS','GBR','China','GER','NGN','South Africa']) 
country_Gold = np.array([29,38,24,46,13,7,11,12,50]) 
country_Silver = np.array([17,28,25,28,8,14,11])
country_Bronze = np.array([19,22,32,29,7,17,14]) 
highest = np.where(country_Gold == np.max(country_Gold))


print('The country with Max number of gold medals is:',country[highest])
more_than_20_medals=country_Gold >20 
print(more_than_20_medals) 
country_Gold[more_than_20_medals] 
x = np.where(country_Gold >20) 

print('the countries with more  than 20 medals are:', country[x])

The country with Max number of gold medals is: ['South Africa']
[ True  True  True  True False False False False  True]
the countries with more  than 20 medals are: ['KOR' 'JPN' 'US' 'RUS' 'South Africa']

## 3.	Find countries with more than 20 gold medals

In [ ]:
import numpy as np
Gold = np.array ([29,38,24,46,13,7,11,12,50]) 
more_than_20_medals=country_Gold >20
print(more_than_20_medals) 
country_Gold[more_than_20_medals] 
y = np.where(country_Gold >20) 

print(y)

[ True  True  True  True False False False False  True]
(array([0, 1, 2, 3, 8]),)